services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cher17-webhook
    ports:
      - "80:3000"
    environment:
      NODE_ENV: production
      KEYCRM_KEY: ${KEYCRM_KEY}
      REDIS_URL: ${REDIS_URL}
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: cher17-webhook-redis
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped

volumes:
  redis-data:
